.firstDiv {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: burlywood;
}
body {
    background-image: url(https://i.pinimg.com/originals/98/bd/4f/98bd4fe705c8d9141c848ed5c2eb3e06.jpg);
}